/*ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: white;
    height: 100vh;
}

.Interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 40px;
}

html {
    scroll-behavior: smooth;
}

/*ESTILO CABEÇALHO*/

header{
    padding: 20px 4%;
}

header > .Interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    position: relative;
    color:rgb(146, 143, 143); 
    text-decoration: none;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.05);
    display: inline-block;
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li{
    font-size: 20px;
    display: inline-block;
    padding: 0 40px;
}

/*ANIMAÇÃO DO CABEÇALHO*/

.ini a::after,.sobre a::after,.projetos a::after,.contato a::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
}

.ini a:hover::after,
.sobre a:hover::after,.contato a:hover::after,.projetos a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*ESTILO DO MENU MOBILE*/

.btn-menu i{
    color: #000000;
    font-size: 40px;

}

.btn-menu {
    position: absolute;
    top: 50px; 
    right: 30px;
}

.menu-mobile{
    background-color: black;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay{
    display: block;
}

.menu-mobile .btn-fechar i{
    color: white;
    font-size: 50px;

}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile nav ul{
    text-align: right;  
}

.menu-mobile nav ul li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 20px 8%;
    margin-bottom: 15px;
}

.overlay{
    background-color: #000000c5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.btn-menu{
    display: none;
}


/*ESTILO DO TOPO DO SITE*/

section.topo-site{
    padding: 40px 4%;
}

section.topo-site.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 40px;
}

.topo-site p{
    font-size: 20px;
}

/* ESTILIZAÇÃO DOS BOTÕES */

button{
margin-top: 40px;
background-color: black;
   padding: 10px 20px;
   font-size: 20px;
   color: white;
   border: none;
   border-radius: 10px;
   cursor: pointer;
}

@keyframes pulsar{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

button:hover{
    animation-name: pulsar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.botoes-contato {
    display: flex;
    gap: 20px; 
}

.btn-linkedin {
    background-color: #0077b5; 
}

.btn-kaggle {
    background-color: #20beff; 

    color: black; 
}

.btn-github {
    background-color: #24292e; 
}

.btn-linkedin:hover {
    background-color: #005582;
}

.btn-kaggle:hover {
    background-color: #0ea5d7;
}

.btn-github:hover {
    background-color: #0d1117;
}

/* ESTILIZAÇÃO DA IMAGEM */

.topo-site .img-topo img{
    position: relative;
    animation: flutuar;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILIZAÇÃO DO SOBRE */

section.sobre{
    padding: 40px 4%;
    margin-top: -70px;
}

section.sobre.flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2{
    color: black;
    font-size: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre p{
    margin: 20px 0px;
    text-align: justify;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
}

/* ESTILIZAÇÃO DO PORTFOLIO */

.portifolio .titulo{
   font-size: 40px; 
   margin-bottom:40px;
}

section.portifolio{
    padding: 40px 4%;
}

.dashboard-section .conteiner{
    display: none;
}

.dashboard-section .conteiner1{
    display: none;
}

.dashboard-section .conteiner2{
    display: none;
}

#mostrar, #mostrar1, #mostrar2 {
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: rgb(3, 49, 49);
}

.dashboard-section .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-section .linha {
    margin-bottom: 60px;
}

.dashboard-section .linha1 {
    margin-bottom: 60px;
}

.dashboard-section p {

    font-size: 20px;
    color: #000000;
    margin-top: 30px; 
    margin-bottom: 40px; 
    line-height: 1.5;
}

.dashboard-section h5 {

    font-size: 20px;
    color: #000000;
    margin-top: 30px; 
    margin-bottom: 40px; 
}

.dashboard-section h4 {

    font-size: 25px;
    color: #000000;
    margin-top: 20px; 
    margin-bottom: 40px; 
}

.dashboard-section h3 {

    font-size: 25px;
    color: #000000;
    margin-top: 20px; 
    margin-bottom: 40px; 
    text-align: center;
}

.dashboard-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
}

.dashboard-container iframe {
    height: 68vh; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39); 
}

/* ESTILIZAÇÃO DO FORMULARIO */

section.formulario {
    padding: 80px 4%;
}

.formulario .titulo{
    font-size: 40px; 
    margin-bottom: 30px;
    margin-top: -70px;
    text-align: center;
 }

 .Interface .titulo{
    margin-top: -70px;
 }

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 18px;
    border: 2px solid black; 
    outline: none; 
}

form textarea {
    height: 150px; 
    max-height: 200px;
    resize: none; 
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
    margin-bottom: -60px;
}

form .btn-enviar input[type="submit"] {
    background-color: black;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
}

form .btn-enviar input[type="submit"]:hover {
    animation-name: pulsar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.success {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: green;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 128, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ESTILIZAÇÃO DO RODAPE */

footer{
    padding: 60PX 4%; 
}

footer .linefooter {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .linefooter p {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .linefooter p i {
    color: black;
    font-size: 22px;
    margin-right: 10px; 
}

footer .linefooter p {
    position: relative;
    display: inline-block;
}

footer .linefooter p a {
    color:black;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}

footer .linefooter p a:hover{
    transform: scale(1.05);
    display: inline-block;
}

footer .linefooter p a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-in-out;
}

footer .linefooter p a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.borda{
  border-top: 2px solid black;  
}


@media screen and (max-width:900px) {
    
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
        margin-left: 25px;
        margin-right: 25px; 
    }

    .topo-site .flex{
        flex-direction: column-reverse;
    }

    /*CABEÇALHO*/
    .menu-desktop{
        display: none;

    }

    /*TOPO DO SITE*/
    .topo-site h1{
        font-size: 40px;
        margin-left: 20px;
        margin-right: 20px; 
    }

    .topo-site h1{
        margin-left: 20px;
        margin-right: 20px; 
    }

    .topo-site p{
        margin-left: 20px;
        margin-right: 20px; 
    }

    .botoes-contato{
        margin-left: 20px;
        margin-right: 20px; 
    }
    

    .topo-site .img-topo img{
        width: 100%;
        margin-bottom: -50px;
        margin-top: -90px;
    }

    /*SOBRE*/

    .sobre h2{
        margin-bottom: 40px;
        margin-top: 80px; 
    }

    .sobre{
        margin-left: -20px; 
        margin-right: -20px; 
    }

    /*PROJETOS*/

    .projetos h2{
        margin-bottom: 40px;
    }

    .portifolio .titulo{
        margin-bottom: 60px;
    }
    
    .dashboard-section p{
        margin-left: 20px; 
    }

    .dashboard-container {
        display: flex;
        justify-content: center;
        margin-bottom: 40px; 
    }
    
    .dashboard-container iframe {
        height: 37vh; 
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39); 
    }

    .btn-menu{
        display: block;
    }

    /*FORMULARIO*/

    .formulario h2{
        margin-top: -60px;
    }
}